@import "./mixin.scss";

// 红色 放大图 清晰化动画
@include narrowkeyframes("redOneClarity", 148%, -122%, 50);
// 白色
@include narrowkeyframes("whiteOneClarity", -50%, -420%, 40);

// 绿色
@include narrowkeyframes("greenOneClarity", -50%, -50%, 40);

// 蓝色
@include narrowkeyframes("blueOneClarity", -110%, -135%, 40);

// 黄色
@include narrowkeyframes("yellowOneClarity", -50%, 90%, 40);

// 红色 最后一张图缩小定位动画
@keyframes redFirstNarrow {
  0% {
  }
  100% {
    height: 100%;
  }
}

// 照相机闪光效果
@keyframes flash {
  0%,
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes boxNarrow {
  0% {
  }
  100% {
    transform: translate(4.47vw, 45vw);
    width: 70vw;
    height: 52vw;
  }
}
