// 图集页投票按钮背景色
$btnBgColor: (
  red: #ffa868,
  green: #7eff4b,
  blue: #68a4ff,
  white: #ffffff,
  yellow: #ffeb68,
);

// 首页投票按钮背景色
$voteBtnColor: (
  red: #b72525,
  green: #279411,
  blue: #1e3d96,
  white: #9ba0af,
  yellow: #b59826,
);

// 图集页轮播当前指示点颜色
$paginationActiveColors: (
  red: #a22525,
  green: #7eff4b,
  blue: #68c8ff,
  white: #68c8ff,
  yellow: #737373,
);

// 投票页模块背景色
$voteThemeBgColors: (
  red: #591616,
  green: #20530b,
  blue: #132e91,
  white: #808189,
  yellow: #664d0e,
);
